* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  background-color: #000000;
}

a {
  text-decoration: none;
  color: rgb(168, 26, 184);
}

li {
  list-style: none;
}

.btns {
  padding: 10px 20px;
  margin-right: 6px;
  background: #000000;
  border: none;
  border: 0.6px solid #ccc;
  border-radius: 5px;
  color: #ffffff;
  cursor: pointer;
}
