.BlackBGClass{
    background-color: black;
    color: white;
    border: 3px solid red;
}


.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}



.profile-section {
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

    border: 2px solid rgb(0, 105, 255F);
}

.Seconddiv {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;

}

.profile-info {
    display: flex;
}

.profile-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 20px;
    margin-left: 10px;
}

.profile-description {
    flex: 1;
    margin-left: 20px;

}

.profile-description ul {
    list-style: none;
}

.skills {
    margin-left: 5px;
    width: 40%;
    border: 2px solid White;
    padding-left: 30px;
    height: fit-content;


}

.skills h3 {
    margin-bottom: 10px;
}

.skills ul {

    padding: 0;
}


.private-code {

    padding-left: 20px;

    width: 580px;


}

.private-code h3 {
    margin-bottom: 10px;
    color: white;
}

.private-code pre {
    white-space: pre-wrap;
}

.Feedback_btn {
    width: 140px;
    height: 50px;
    background: rgb(0, 105, 255);
    color: #fff;
    border-radius: 50px;
    border: none;
    outline: none;
    cursor: pointer;
    position: relative;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5);
    overflow: hidden;
}

.Feedback_btn span {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: top 0.5s;
}

.Feedback_btn-text-one {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.Feedback_btn-text-two {
    position: absolute;
    width: 100%;
    top: 150%;
    left: 0;
    transform: translateY(-50%);
}

.Feedback_btn:hover .btn-text-one {
    top: -100%;
}

.btn:hover .btn-text-two {
    top: 50%;
}